################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Specification.ClientAdministrator/.vs/Specification.ClientAdministrator/v16
/Specification.ClientAdministrator/obj
/Specification.ClientAdministrator.DataSource/obj
/Specification.ClientAdministrator.Models/obj
/Specification.ClientAdministrator.Repository/obj
/Specification.ClientAdministrator/bin/Debug/netcoreapp2.1
/Specification.ClientAdministrator.DataSource/bin/Debug/netcoreapp2.1
/Specification.ClientAdministrator.Models/bin/Debug/netcoreapp2.1
/Specification.ClientAdministrator.Repository/bin/Debug/netcoreapp2.1
