################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Specification.ClientAdministrator/.vs/Specification.ClientAdministrator/v16
